.image{
    width: 316px;
    height: 316px;
    background-color: rgba(255, 0, 0, 0.524);
    border-radius: 51% 49% 49% 51% / 45% 45% 55% 55%;
}
.button2{
    height: 7vh;
    width: 10vw;
    border-radius: 8px;
}